# Example only. Do not put real passwords into this tracked file.
# Run ./Setup.ps1 to generate the ignored local .env file.
QUICKSTART_SCHEMA_VERSION='1'
QUICKSTART_SCOPE_ID='a1b2c3d4e5f6'
QUICKSTART_RUNTIME_MODE='DOCKER_DESKTOP_WINDOWS'
COMPOSE_PROJECT_NAME='ssa-quickstart-a1b2c3d4e5f6'
COMPOSE_PROFILES='sql2019,sql2022,sql2025'
SQL_VERSIONS='2019,2022,2025'
BIND_ADDRESS='127.0.0.1'
MSSQL_SA_PASSWORD='CHANGE_ME_WITH_SETUP_PS1'
MSSQL_COLLATION='SQL_Latin1_General_CP1_CS_AS'
MSSQL_AGENT_ENABLED='true'
FRAMEWORK_DATABASE='LabAnalyze'
INSTALL_FRAMEWORK='true'
RESOURCE_PROFILE='STANDARD'
CONTAINER_CPUS='4.0'
CONTAINER_MEMORY='8g'
SQL_MEMORY_LIMIT_MB='6144'
STORAGE_LAYOUT='SINGLE_ROOT'
LAB_ROOT='C:/SQL_Server_Analyze_QuickStart'
DATA_ROOT='C:/SQL_Server_Analyze_QuickStart/data'
LOG_ROOT='C:/SQL_Server_Analyze_QuickStart/log'
BACKUP_ROOT='C:/SQL_Server_Analyze_QuickStart/backup'
INSTALLER_ROOT='C:/SQL_Server_Analyze_QuickStart/control/installer'
SQL2019_PORT='14331'
SQL2022_PORT='14332'
SQL2025_PORT='14335'
SQL2019_DATA_DIR='C:/SQL_Server_Analyze_QuickStart/data/2019'
SQL2019_LOG_DIR='C:/SQL_Server_Analyze_QuickStart/log/2019'
SQL2019_BACKUP_DIR='C:/SQL_Server_Analyze_QuickStart/backup/2019'
SQL2022_DATA_DIR='C:/SQL_Server_Analyze_QuickStart/data/2022'
SQL2022_LOG_DIR='C:/SQL_Server_Analyze_QuickStart/log/2022'
SQL2022_BACKUP_DIR='C:/SQL_Server_Analyze_QuickStart/backup/2022'
SQL2025_DATA_DIR='C:/SQL_Server_Analyze_QuickStart/data/2025'
SQL2025_LOG_DIR='C:/SQL_Server_Analyze_QuickStart/log/2025'
SQL2025_BACKUP_DIR='C:/SQL_Server_Analyze_QuickStart/backup/2025'
SQL2019_IMAGE='mcr.microsoft.com/mssql/server:2019-latest'
SQL2022_IMAGE='mcr.microsoft.com/mssql/server:2022-latest'
SQL2025_IMAGE='mcr.microsoft.com/mssql/server:2025-latest'
IO_PROFILE='NORMAL'
SLOW_IO_DEVICE=''
SLOW_IO_READ_BPS='20mb'
SLOW_IO_WRITE_BPS='10mb'
